<div class="faq_rgh">
Need help?

<ul>
	<li><a href="#"> <%= image_tag("static_pages/chat_icon_1.gif") %> Live Chat</a></li>
	<li><a href="http://filmzu.com/contact"> <%= image_tag("static_pages/chat_icon_2.gif") %> Email</a></li>
	<li><a href="#"> <%= image_tag("static_pages/chat_icon_3.gif") %> 415-713-3373</a></li>
</ul>

</div>