<%= stylesheet_link_tag "static_pages/static_pages" %>
<div class="au_con">
	<div class="faq_con">

	<%= render "static_pages/help" %>
			
	<div class="faq_txt">
		<h5>Frequently Asked Questions</h5>
		Here are some frequently asked questions.
	</div>
	
			<div class="faq_hd">
				<div class="faq_title">General Questions</div>
			
			

				<div>
					<div class="open">How is video better than other forms of media?</div>
				<div class="hide_part">The facts speak for themselves. Consumer confidence doubles after being show a video. That is why 90% of shoppers used video to make a buying decision. Furthermore, 1.2 <b>billion</b> videos are watched every day in the US alone. This number is expected to double by 2016.</div>
				</div>
			
				<div class="open">Who can join Filmzu?</div>
				<div class="hide_part">Filmzu was created to serve all Clients, crew and filmmakers involved with video production. If you are associated with a production company, you can use Filmzu to find crew and talent. filmmakers and crew members can also easily find work.
				</div>
			
				<div class="open">What is Filmzu Pro?</div>
				<div class="hide_part">Regardless of whether you are a Free or Pro user, you will have access to all the core functions of Filmzu. However, Pro membership offers some additional benefits. As a Pro user your projects and proposals will appear higher in search results. Additionally, you will be able to directly message other Pro users. filmmakers and crew will also be able to apply to 50 projects per month instead of 30. For more information on Filmzu Pro and how to upgrade, please visit this page.
				</div>
			
				<div class="open">How much does Filmzu cost?</div>
				<div class="hide_part">Filmzu provides filmmakers with the highest payout of any business, and only takes a 10% finders fee. For example, You have a budget of $5K for your video, the producer gets $4500 and Filmzu takes a $500 fee.</div>
			
			</div>
		
		
		
			<div class="faq_hd">
				<div class="faq_title">Projects &amp; Filmmakers</div>
			
				<div class="open">How do I post my project on Filmzu?</div>
				<div class="hide_part">Listing a project on Filmzu is easy. Simply navigate to our homepage and follow our step-by-step guide.
	</div>
			
				<div class="open">How are my ideas protected?</div>
				<div class="hide_part">Filmzu is designed to provide complete Intellectual Property Protection. Before you hire anyone, you have the ability to attach your own Non-Disclosure Agreement with the job post. Furthermore, the FIlmzu Terms of Service ensures fundamental policy and performance compliance before and after a job is awarded.
	</div>
			
				<div class="open">How can I monitor the progress of my project(s)?</div>
				<div class="hide_part">After posting your project on the site, you will start to receive proposals in your inbox. You can sort, rank and select these proposals using some of our many search filters. Once, you decide on a proposal and accept it, you and the filmmaker will begin to establish the Terms & Milestones for the project.
	</div>
			
				<div class="open">How do I select and hire a filmmaker?</div>
				<div class="hide_part">After posting your project on the site, you will start to receive proposals in your inbox. You can sort, rank and select these proposals using some of our many search filters. Once, you decide on a proposal and accept it, you and the filmmaker will begin to establish the Terms & Milestones for the project.</div>
			
				<div class="open">What should I do if I have a problem with the filmmaker I hired?</div>
				<div class="hide_part">Disputes arise from 	 at any point in a working relationship, and we believe in resolving issues as quickly and as fairly as possible. While issues with clients and filmmakers can arise, is uncommon, we did take measures to ensure a successful out come. Simply navigate to our Dispute Center to start the process. We will ask that you supply supporting documents. Filmzu will objectively  arbitrate and  review the case in depth. All parties will be notified in writing of the outcome.</div>
			
				<div class="open">What is Member Resolution?</div>
				<div class="hide_part">Before Filmzu intervenes in a dispute, we encourage you to attempt to work it out with your filmmaker. Member Resolution offers you a method of filing a request for job cancellation, a full refund or a partial refund. The recipient will then have 5 calendar days to respond to your claim. If no resolution is met, the case will be relabelled and brought to the attention of our team.</div>
			
				<div class="open">Why and when should I leave feedback?</div>
				<div class="hide_part">Leaving and receiving Feedback is essential to guaranteeing that the right people are working on your project. Once a project is completed, you will have the opportunity to rate and review the filmmakers that worked on the project via the Projects page. Feedback is final, so please be professional and accurate.</div>
			
			
			</div>
		
		


			<div class="faq_hd">
				<div class="faq_title">Terms &amp; Milestones</div>
			
				<div class="open">What is a Daily Rate and how does it differ from a Bundled Price?</div>
				<div class="hide_part">filmmaker professionals usually have a Rate at which they are willing to work daily for.  In certain situations, it may be more efficient to simply offer a bundled payment for the work done (e.g. editing or writing). This is all decided between the Client and the filmmaker professional when they are establishing Terms & Milestones.
				</div>
			
				<div class="open">What are Milestones?</div>
				<div class="hide_part">Milestones help ensure that your project is completed on schedule. The Client and filmmaker propose and agree on realistic deadlines for pieces of the work. If the requested work is completed on time, portions of the total payment can be automatically released from escrow.</div>
				
				<div class="open">Why should I use milestones?</div>
				<div class="hide_part">The milestones you set will back up your proposal (your winning statement to get the client to award their project to you).

				Aside from giving the client a clearer view of your tasks, they will also have a more concrete understanding of your skills and techniques.

				Lastly, this is a great chance to upsell yourself against other filmmakers bidding for the project. Filmmakers who create milestone breakdowns are 21% more likely to be awarded with the project. More projects, more earnings!</div>
			
			
			</div>
		
		
			<div class="faq_hd" style="border-bottom:none;">
				<div class="faq_title">Payments</div>
			
			
				<div class="open">What are my Financial Accounts?</div>
				<div class="hide_part">In order to transfer funds into Escrow as safely and quickly as possible, Filmzu offers a secure platform to store and manage payment information. Via the Financial Accounts section of your account, you can add various forms of payments and monitor your expenses.</div>
			
			
				<div class="open">When is money pulled from one of my funding sources?</div>
				<div class="hide_part">Filmzu will automatically pull funds from one of your approved payment methods after you and the filmmaker have agreed on Terms & Milestones. At that time, a sum of funds for the total cost of the project will be moved into an Escrow account. As Milestones are met and the work is approved, the money will be automatically released to the filmmaker.
				</div>
			
			
				<div class="open">How is my money protected?</div>
				<div class="hide_part">We ensure that your funds are protected with Filmzu Escrow. When you select a filmmaker for the job, funds covering the total cost of work are moved into Filmzu Escrow. Money is only released to the filmmaker after you review and approve the completed work associated with each Milestone.
				</div>
			
			
			
				</div>
				</div>
		
				</div>
			</div>
			
			

			<%= render "static_pages/cta" %>

<!-- #content -->
<!--accordination-->
<script type="text/javascript">
	$(function() {
	
	    var menu_ul = $('.hide_part'),
	           menu_a  = $('.open');
	    
	    menu_ul.hide();
	
	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });
	
	});
</script>
<!--accordination-->