<%= stylesheet_link_tag "static_pages/style.css" %>

<html>
<head>
        <title>Join the Filmzu Community</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
        <div class="join-page">
                <h1>Join the Filmzu Community</h1>
                <div class="signupbox">
                        <div class="box blue">
                                <h3>I have a project</h3>
                                <a class="btnr" href="/clients/sign_up">Sign Up as Client</a>
                        </div>
                        <div class="box small"></div>
                        <div class="box cyan">
                                <h3>I want to be a filmmaker</h3>
                                <a class="btnr" href="/filmmakers/sign_up">Sign Up as Filmmaker</a>
                        </div>
                </div>

        </div>
</body>
</html>

