<%= stylesheet_link_tag "static_pages/static_pages" %>
 <div class="au_con">
   <div class="faq_con">
    <div class="faq_lft">
      <div class="faq_txt">
        <h5>Terms of Service</h5>
        The documents below are collectively referred to as the "Terms of Services".<br> Usage of this website constitutes acknowledgement and acceptance of the Terms of Services.
      </div>
      
      <div class="faq_hd">
        All Site Visitors<br>
        <ul>
          <li><div class="open">User Agreement</div>
            <div class="hide_part">We ensure that your funds are protected with Filmzu Escrow. When you select a filmmaker for the job, funds covering the total cost of work are moved into Filmzu Escrow. Money is only released to the filmmaker after you review and approve the completed work associated with each Milestone.
              <br><br>
              Filmzu.com uses Balanced as its third party service provider for payment services (e.g. card acceptance, merchant settlement, and related services). By buying or selling on Filmzu you agree to be bound by Balanced’s Privacy Policy: https://www.balancedpayments.com/privacy and hereby consent and authorize Filmzu and Balanced to share any information and payments instructions you provide with Third Party Service Provider(s) to the minimum extent required to complete your transactions.
              <br><br>
              By listing or selling items on Filmzu you also agree to be bound by Balanced’s Seller Terms: https://www.balancedpayments.com/terms/selleragreement
            </div>
          </li>
          <li><div class="open">Privacy Policy</div>
          <div class="hide_part">
          We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. Parliament has created specific offences for unauthorised actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible.
          </div>
          <li><div class="open">The member must agree that he/she will not</div>
          <div class="hide_part">
            <p>
              Engage in false or unprofessional in behavior, including posting inappropriate, improper or content objection.
            </p>
            <p>
              Added to the specific field of non This field of use or incorrect content (such as: the telephone number is entered in the "title" or other fields, or enter the phone number provided in the specific field of email address, address or of any personally identifiable information) Or establish false identities.
            </p>
            <p>
              False posts and qualifications of his/her current or past.
            </p>
            <p>
              False identity, including, but not limited to the use of a pseudonym.
            </p>
            <p>
              The establishment of a non-live of the profile.
            </p>
            <p>
              Use or attempt to use another person's account.
            </p>
            <p>
              Harass, abuse, or harm another person.
            </p>
            <p>
              Sending spam or other unwanted messages.
            </p>
            <p>
              Use any means (including: network reptiles, browser plug-ins and add-ons, and any other technical or manual mode) to remove or copy files and information to others.
            </p>
            <p>
              Were illegal, libelous, abusive, obscene, discrimination act or other malicious row.
            <p>
            <p>Members do not have permission to disclose information the disclosure of (others, including your employer's confidential information).
            </p>
            <p>Violate intellectual property rights of others, including: patents, trademarks, trade secrets, copyright or other proprietary rights.
            </p>
            <p>Use Filmzu/ Filmany invitation to send a message to you do not know or may not know your membership.</p>
            <p>Publication of, any unsolicited or unauthorized advertising, "junk mail," "spam," "chain letters" or other authorized without Filmzu/Filmany behavior in any form of solicitation.</p>
            <p>Send message to the mailing list or group list.</p>
            <p>Terms and Conditions contain software viruses, computer worms or other harmful code of content.</p>
            <p>Manipulate identification key to hide any information transmitted from the "Services" or content source.</p>
            <p>Establish or provide content or archives containing escort services or the sex trade.
            <p>Establish or engage in fraud or other similar activities.</p>
            <p>Copy or use someone else Posted in information, content or materials (unless expressly authorized) of "service".</p>
            <p>Copying or using our information, content or data to competitors (by definition Filmzu or Filmany's) associates.</p>
            <p>Copy, modify or create Filmzu or/and Filmany, service or any derivative work related technologies (unless expressly authorized by us).</p>
            <p>Reverse engineer, decompile, decompile, crack, or otherwise attempt to obtain source code for providing, or any part of the "service".</p>
            <p>Rent, mortgage, trade, trafficking / resell read "service" or any related information or information of authority.</p>
            <p>Remove our "service" any copyright, trademark or other proprietary notice within.</p>
            <p>Remove, cover or otherwise make advertising "service" on blurred.</p>
            <p>Without their express consent, share or disclose the information to others.</p>
            <p>Using manual or automatic software, devices, automatic program or other means or procedures to use, "eliminate", "rake comb" or "spider network" service or any related materials or information.</p>
            <p>Use automatic program or other automated methods use "service", add or download contacts, transfer or redirect messages.</p>
            <p>The purpose of any competition, monitoring "service" of availability, performance or functionality.</p>
            <p>Conduct "framework", "mirror" or appearance or behavior "service" function of the other analog.</p>
            <p>Filmzu or/and Filmany expressly provided through the interface (such as: mobile applications) to use the service.</p>
            <p>Overwrite security feature of any "Service".</p>
            <p>Manufacturing operations or unreasonable load disturbance "service" (eg: spam, denial of service attacks, viruses, games calculus).</p>
          </div>
        </ul>
      </div>
      
      <% if false %>
      <div class="faq_hd">
      Agreements for Site Users<br>
        <ul>
          <li><div class="open">Account Agreement</div>
            <div class="hide_part">

            </div>
            </li>
          
          <li><div class="open">Independent Contractor Services Agreement</div>
            <div class="hide_part">

            </div>
            </li>
          <li><div class="open">Day Rate Payment Agreement</div>
            <div class="hide_part">

            </div>
            </li>
          <li><div class="open">Fixed Price Escrow Instructions</div>
            <div class="hide_part">

            </div>
            </li>
        </ul>
      </div>
      <% end %>
      
      <div class="faq_hd">
        Policies<br>
        <ul>
          <% if false %>
          <li><div class="open">Site Usage Policy</div>
            <div class="hide_part">

            </div>
            </li>
          <li><div class="open">Client Job Posting</div>
            <div class="hide_part">

            </div>
            </li>
          <li><div class="open">Freelance Memberships Proposals and Fulfilment Policy</div>
            <div class="hide_part">

            </div>
            </li>

          <li><div class="open">Fixed Price Dispute Resolution Policy</div>
            <div class="hide_part">

            </div>
            </li>
          <li><div class="open">Day Rate Dispute Resolution Policy</div>
            <div class="hide_part">

            </div>
            </li>
            
            <% end %>
            
            <li><div class="open">Refund and Cancellation Policy</div>
              <div class="hide_part">
                Both the Client and ourselves have the right to terminate any Services Agreement for any reason, including the
                ending of services that are already underway. No refunds shall be offered, where a Service is deemed to have begun
                and is, for all intents and purposes, underway. Any monies that have been paid to us which constitute payment in
                respect of the provision of unused Services, shall not be refunded.
              </div>
              </li>
            <li><div class="open">Prohibited Content Guildlines (Strict)</div>
              <div class="hide_part">
                <ol class="prohibited-li">
                  <li>Any text, images, audio, video or film that's showing the power of sexuality and sexual acts up close and in detail.</li>
                  <li>Violence and harassment</li>
                  <li>Offensive</li>
                  <li>Negative thinking</li>
                  <li>Curse</li>
                  <li>To discredit any individual, team, community, organization or nation</li>
                  <li>Sexually provocative nudity</li>
                  <li>Gambling</li>
                  <li>Violation of intellectual property rights, potentially illegal, or inappropriate</li>
                  <li>Falsehoods or misrepresentations that could damage any party</li>
                  <li>Content or provide links to websites that are unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourage such conduct that would be considered a criminal offense, give rise to breach of contract, break any law, or is otherwise inappropriate.</li>
                  <li>Post or encourage an illegal or unauthorized copy of work protected by a third party's copyright, including but not limited to, providing pirated computer programs or links to  them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or links to pirated music files</li>
                  <li>We reserve the right to terminate access to our Website and our Services if a User is, in our absolute discretion, deemed to be a Repeat Infringer.</li>
                  <li>Drug, alcohol, and tobacco-related content</li>
                  <li>Hacking and cracking content
                    <ul class="hacking-li">
                      <li>The payment receiver must agree with providing a product or service via our platform if the buyer is reaching him/her through us. </li>
                      <li>Payment sender must agree with paying us the service fees of 5% plus third party service fees when each transaction is finished. ( Not payment receiver, which is different from  many freelancer platforms. The payment receiver, i.e. service provider, must not support the payment sender to avoid his obligation. For security and fraud protection, all documentation and conversation are better kept on our platform. Without your consent, we will not view your trade secret. )</li>
                      <li>In the past, we asked for 10% of each transaction amount plus third party service fees. Other online service provider or social enterprise also asks for 10% to 20% of each transaction amount plus third party service fees, so our service fee is affordable and competitive.</li>
                      <li>Besides, we only ask for the demand side to pay the service fees which are different from the practice of the industry. In general, both demand and supply sides need to pay the online service provider service fees.</li>
                      <li>Once we have discovered any transaction is processed outside from filmzu in order to avoid our service fees, we will chase back 10 % of total transaction amount plus third party service fees from two parties (i.e. Each party pays 5% plus third party service fees)   or even list one on our “untrusted list” which is open to public if one refuses to pay.</li>
                      <li>Spending account: Make instant transaction</li>
                      <li>Chesed account (digital value): one Chesed = 10 Hong Kong dollars(Similar to fiverr.com ‘s one gig = 5 USD </li>
                      <li>The minimum spending in Filmzu.com is one chesed (HKD 10 , that means each order can be less than USD 2 if any party from the supply side is willing to accept this offer)</li>
                      <li>There is no service charge when Star asks for transfer earnings/ payment received out of the Chesed account by check, transfer wise, local ATM transfer, wire transfer or PayPal. However, if  any third party fees are involved, Star is responsible for paying those fees which are not our obligation.</li>
                    </ul>
                  </li>
                </ol>
                
              </div>
            </li>
              
        </ul>
      </div>
    </div>
    
    <%= render "static_pages/help" %>

   </div> 
 </div>

  <%= render "static_pages/cta" %>

 
<!-- #content -->
<!--accordination-->
<script type="text/javascript">
  $(function() {

      var menu_ul = $('.hide_part'),
             menu_a  = $('.open');

      menu_ul.hide();

      menu_a.click(function(e) {
          e.preventDefault();
          if(!$(this).hasClass('opened')) {
              menu_a.removeClass('opened');
              menu_ul.filter(':visible').slideUp('normal');
              $(this).addClass('opened').next().stop(true,true).slideDown('normal');
          } else {
              $(this).removeClass('opened');
              $(this).next().stop(true,true).slideUp('normal');
          }
      });

  });
</script>
<!--accordination-->