<h3>You did it!</h3>
<h3>{{# link-to 'filmmakers.sign_up' }}Sign-Up as a filmmaker{{/link-to}}</h3>
<h3>{{# link-to 'clients.sign_up' }}Sign-Up as a client{{/link-to}}
<p>I love working with Ember JS!</p>