<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SignUp</title>
<link type="text/css" rel="stylesheet" href="css/uniform.default.css" />

</head>

<body>

<div class="signup-box">
<div class="signup-gray-box fl">
	<div class="signup-hpart">
    	<h2>New to Filmzu?</h2>
    	<p>Create an account today!</p>
    </div>
    <ul class="signup-form">
    	<li>
        	<label>Full Name</label>
            <input type="text" class="wh-txt-box" value="Katherine"  />
        </li>
        <li>
        	<label>Email Address</label>
            <input type="text" class="wh-txt-box" value="Enter"  />
            <p class="right-text">We NEVER NEVER Spam our users emails.</p>
        </li>
        <li>
        	<label>Password</label>
            <input type="text" class="wh-txt-box" value="Enter"  />
        </li>
        <li>
        	<label>Confirm Password</label>
            <input type="text" class="wh-txt-box" value="Enter" />
            <p class="right-text">Minimum 6 characters.</p>
        </li>
        <li class="clearfix">
        	<div class="fl"><input type="checkbox" /></div>
            <div class="agree-txt">
            	<span>I agree to Filmzu’s <a href="#">Terms and Conditions</a>.</span>
<p>I will not send unsolicited materials to Filmzu Members. Filmzu may promote my profile per my settings. I’m 18+ years old or have permission from a parent/rep.</p>
            </div>
        </li>
        <li>
        	<input class="big-blue-btn" type="button" value="I’m ready, let me in"  />
            <a href="#" class="text-link">Sign Up as Filmaker</a>
        </li>
    </ul>
</div>

<div class="signup-white-box fl">
	<div class="signup-hpart">
		<h2>Log In with Facebook</h2>
    	<p>Fast and easy, and we don’t post without permission.</p>
    </div>
    <div class="pt50">
    	<a href="#" class="big-blue-btn"><img src="images/blank-img.png" class="fb-icon" alt="" title="" /><span>Log In With Facebook</span></a>        
    </div>
    <div class="pt50">
    	<a href="#" class="big-blue-btn"><img src="images/blank-img.png" class="link-icon" alt="" title="" /><span>Log In With Linkedin</span></a>
    </div>    
</div>
</div>

<script type="text/javascript" src="js/jquery.uniform.js"></script>
<script type="text/javascript">
$(function(){
	$("select, :radio, :checkbox, :file").uniform();
})
</script>
</body>
</html>
