<!-- Client Sign In Modal -->
<div id="report-modal" class="modal fade left-aligned" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
  <div class="report-box">
    <div class="dialog-box" style="background-color:white;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><span>Client Account Required </span></h3>
      </div>
      <div class="modal-body">
				If you would like to hire a filmmaker directly through the quick hire process please create a client account. 
				<br/>
      </div>
      <div class='modal-footer'>
        <button class='btn report_cancel_btn' data-dismiss="modal">Cancel</button>
				<a href='../../#/clients/sign_in' class='btn btn-primary'>Sign In</a>
        <a href='../../clients/sign_up' class='btn btn-primary'>New Client Sign-Up</a>
      </div>
    </div>  
  </div>  
</div>
<!-- Client Sign in Modal -->